<nav class="navbar navbar-expand-lg">
	<div class="container container-fluid navbar-container-custom">
		<a class="navbar-brand" href="/index.html"
			><img src="/assets/img/logo.png" alt="logo" class="nav-logo-custom"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse navbar-collapse-custom"
			id="navbarNavDropdown"
		>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Work</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
			<div login-nav-custom>
				<a class="btn btn-outline-success me-2"> LOG IN</a>
			</div>
		</div>
	</div>
</nav>
