.navbar-toggler {
	background-color: #eee9e3;
}
.navbar,
.navbar-container-custom {
	background-color: #000000;
}
.nav-link {
	color: white;
}
.nav-logo-custom {
	display: block;
	width: 16vh;
	height: 7vh;
}
.nav-login-custom {
	margin-left: auto;
}

.nav-login-custom {
	margin-left: auto;
}
