.container {
	display: flex;
	flex-direction: column;
}

a {
	cursor: pointer;
}

.body-divider {
	margin-top: 7rem;
}
.catch {
	display: flex;
	margin-top: 10%;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap-reverse;
}
.motto {
	width: 300px;
	height: 78px;
	flex-shrink: 0;
}

.print {
	text-decoration: underline;
	color: #f43c00;
	transition: 0.15s;
}

.print:active {
	color: #f43c00;
}
.print:hover {
	color: #e43900;
}

.motto-text {
	margin: 0;
	padding-top: 15px;
	line-height: 1;
	text-align: justify;
}

.print,
.motto-text {
	font-size: 20.6px;
}

.hook {
	font-size: 170px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
}

.text-output {
	color: #f43c00;
}

.container-text {
	margin: 3% 0 1% 0;
	color: #f4440a;
	font-weight: 500;
	font-size: large;
	display: flex;
	height: fit-content;
	justify-content: space-between;
}

.image-container {
	display: flex;
	align-items: flex-end;
	background: url("/assets/img/img14.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	align-self: center;
	padding: 1.5% 2%;
	height: 800px;
	width: 1320px;
	margin-bottom: 10%;
	border-radius: 4%;
}
.card-body,
.inner-card {
	background-color: #eee9e3;
	border: none;
	border-radius: 10%;
	padding-bottom: 1.6%;
}

.card-icon {
	margin-bottom: 10%;
}

.inner-card-text {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 13%;
}

.card-link {
	text-decoration: none;
	color: #f43c00;
	font-weight: 600;
	transition: 0.15s;
}

.card-link:hover {
	text-decoration: underline;
}

.black-container {
	background-color: #121212;
	display: flex;
	padding: 2% 1.5%;
	gap: 5%;
	height: 800px;
	width: 1320px;
	border-radius: 4%;
}

.image2 {
	width: 48%;
	height: 100%;
	border-radius: 3%;
}

.works-example {
	height: 100%;
	width: 40%;
	font-size: 2.6rem;
	font-weight: 800;
	color: white;
}

.black-container,
.image-container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto 8rem auto; /* center horizontally */
}

.example-label {
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	margin: 1rem 0 3rem 1rem;
}

.example-items {
	text-decoration: underline;
}

.example-footer {
	margin-top: 14%;
	font-size: 1rem;
	font-weight: 400;
	color: #848484;
	margin-bottom: 0;
}

.example-link {
	margin-top: 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: white;
	text-decoration: underline;
	transition: 0.15s;
}

.example-link:hover {
	font-size: 1.5rem;
	opacity: 0.8;
}
.benefits {
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	font-size: 1rem;
	margin-top: 2rem;
	padding: 0 10%;
	color: red;
}

.benefits-literal {
	color: #121212;
}

.slot {
	background-color: #121212;
	border-radius: 1rem;
}

.benefits-cards {
	margin: 3rem 0;
}
.card-text {
	color: white;
}
