a {
	cursor: pointer;
}

.body-container {
	padding: 0px 50px;
	display: flex;
	height: 620px;
	justify-content: space-evenly;
	gap: 100px;
	padding-top: 200px;
	padding-bottom: 80px;
}

.motto {
	margin: 230px 0 0 0;
	width: 300px;
	height: 78px;
	align-items: flex-end;
	flex-shrink: 0;
}

.print {
	text-decoration: underline;
	color: #f43c00;
	transition: 0.15s;
}

.print:active {
	color: #f43c00;
}
.print:hover {
	color: #e43900;
}

.motto-text {
	margin: 0px;
	padding-top: 15px;
	line-height: 1;
	text-align: justify;
}

.print,
.motto-text {
	font-size: 20.6px;
}

.hook {
	font-size: 170px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
}

.text-output {
	color: #f43c00;
}
