<footer class="footer-custom">
	<div class="container">
		<div class="card-body footer-cardbody-custom">
			<div class="row row-custom row1-custom">
				<div class="col-6 div-footer address-custom">
					<p>+263-443-2420</p>
					<p>PRNT@gmail.com</p>
					<p>Guinhawa,<br> City of Malolos, Bulacan</p>
				</div>

				<div class="col-3 div-footer links-custom">
					<a href="/wst/PRNT/" class="footer-links">Home</a>
					<a href="/wst/PRNT/pages/works/" class="footer-links">Works</a>
					<a href="/wst/PRNT/pages/service/" class="footer-links">Service</a>
					<a href="/wst/PRNT/pages/about/" class="footer-links">About Us</a>
					<a href="/wst/PRNT/pages/contact/" class="footer-links">Contact</a>
				</div>

				<div class="col-3 div-footer terms-custom">
					<p>Privacy Policy</p>
					<p>Terms of Service</p>
				</div>
			</div>
			<hr class="row-divider-custom"/>
			<div class="row row-custom">
					<img src="/wst/PRNT/assets/img/logo-name.PNG" alt="" class="col-7"/>
				<div class="col-5 daydate-custom">
						<p class="text-center daydate-text-custom">
							Monday–Friday
							<br />
							<span class="time-custom">9AM–6PM</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

