.promise-custom {
	color: #121212;
	font-size: clamp(4rem, 7vw, 16rem);
	font-weight: 800;
	line-height: 1;
	margin-bottom: 1rem;
	margin: 6rem 0;
}
.output-custom {
	color: #ff4400;
}

.container-text-custom {
	display: flex;
	color: #ff4400;
	justify-content: space-between;
	font-size: clamp(0.75rem, 1vw, 1.5rem);
	font-weight: 500;
	margin: 1rem 0;
}

.img-container-custom {
	display: flex;
	justify-content: center;
}

.img1-custom {
	border-radius: 1rem;
}

.black-container {
	background-color: #121212;
	display: flex;
	margin-top: 2rem;
	padding: 2% 1.5%;
	gap: 5%;
	height: clamp(20px, 100%, 100px);
	width: 100%;
	border-radius: 1rem;
}

.image2-custom {
	width: 48%;
	height: 100%;
	border-radius: 1rem;
}
